
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | KeyHolder </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
  <header>
    <h1> KeyHolder </h1>
    <nav>
      <a href="{{ url_for('home') }}" class="active">Home</a>
      <a href="{{ url_for('about') }}" class="active">About</a>
    </nav>
  </header>

  <main class="about-container">
    <section class="about-hero">
      <h2>About KeyHolder</h2>
      <p>KeyHolder is a trusted password manager designed to protect your online identity with advanced security and ease of use.</p>
      <h3>Our Mission</h3>
      <p>We empower individuals and businesses to securely manage their online presence with confidence.</p>
    </section>

    <section class="about-details">
        <p>We prioritize your security, using robust encryption protocols to protect not just your data but your online identity as well.</p>
        <p>With a team of security enthusiasts, developers, and designers passionate and dedicated to the online safety of individuals, KeyHolder aims to be the password manager that has your back</p>

    </section>

    <div class="cta">
      <a href="{{ url_for('home') }}" class="btn-primary">Back to Home</a>
    </div>
  </main>
</body>
</html>
